<div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h3>Actualizar Producto</h3>
      </div>
      <div >
        <div class="card-body">
          <form [formGroup]="actualizarProductoForm">
            <div class="form-group">
              <div>
                <label>Id:</label>
              </div>
              <div>
                <input validar type="text" id="id" name="id" placeholder="Id Producto" class="form-control" formControlName="id" [(ngModel)]="producto.id" disabled>
              </div>
            </div>
            <div class="form-group">
              <div>
                <label>Nombre:</label>
              </div>
              <div>
                <input validar [(ngModel)]="producto.nombre" type="text" id="nombreProducto" name="nombre" placeholder="Nombre Producto" class="form-control"
                  formControlName="nombre">
              </div>
            </div>
            <div class="form-group">
              <div>
                <label>Precio:</label>
              </div>
              <div>
                <input validar [(ngModel)]="producto.precio" type="number" id="precioProducto" name="precio" placeholder="Precio producto"
                  class="form-control" formControlName="precio">
              </div>
            </div>
            <div class="form-group">
              <div>
                <label>Cantidad:</label>
              </div>
              <div>
                <input validar [(ngModel)]="producto.cantidad" type="number" id="cantidadProducto" name="cantidad" placeholder="Cantidad producto"
                  class="form-control" formControlName="cantidad">
              </div>
            </div>
            <div class="form-group">
              <div>
                <label>Fecha Creacion:</label>
              </div>
              <div>
                <input validar [(ngModel)]="producto.fechaCreacion" type="date" id="fechaCreacionProducto" name="fechaCreacion" placeholder="fecha de creacion producto"
                  class="form-control" formControlName="fechaCreacion" disabled>
              </div>
            </div>
            <br>
            <button (click)="actualizarProducto()" type="button" class="btn btn-primary" mat-raised-button  [routerLink]="['/listar']">
              Guardar
            </button>
          </form>
        </div>
      </div>
    </div>
</div>
  