<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Registrar Producto</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="productoForm" (ngSubmit)="limpiarFormulario()">
        <div class="form-group">
          <div>
            <label>Nombre:</label>
          </div>
          <div>
            <input matInput type="text" id="nombreProducto" name="nombreProducto" placeholder="Nombre Producto" class="form-control"
              formControlName="nombre" [(ngModel)]="producto.nombre">
          </div>
        </div>
        <div class="form-group">
          <div>
            <label>Precio:</label>
          </div>
          <div>
            <input matInput type="number" id="precioProducto" name="precioProducto" placeholder="Precio producto"
              class="form-control" formControlName="precio" [(ngModel)]="producto.precio">
          </div>
        </div>
        <div class="form-group">
          <div>
            <label>Cantidad:</label>
          </div>
          <div>
          
            <input matInput type="number" id="cantidadProducto" name="cantidadProducto" placeholder="Cantidad producto"
              class="form-control" formControlName="cantidad" [(ngModel)]="producto.cantidad">
          </div>
        </div>
        <br>
        <button type="button" class="btn btn-primary" mat-raised-button (click)="crear()" >
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>
