<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" id="linkProducto" routerLink="./" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">Producto</a>
    <a class="navbar-brand" id="linkCrearProducto" routerLink="./crear" routerLinkActive="active">Crear producto</a>
    <a class="navbar-brand" id="linkListarProducto" routerLink="./listar" routerLinkActive="active">listar producto</a>
    <a class="navbar-brand" id="linkActualizarProducto" routerLink="./actualizar" routerLinkActive="active">Actualizar producto</a>
    <a class="navbar-brand" id="linkCrearSoporte" routerLink="./crearSoporte" routerLinkActive="active">Crear Soporte</a>
    <a class="navbar-brand" id="linkSoporte" routerLink="./soporte" routerLinkActive="active">Listar Soporte</a>
  </div>
</nav>
<br>
<router-outlet></router-outlet>