<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Lista productos</h3>
    </div>
    <div>
      <div class="card-body">
        <table class="table table table-hover">
          <thead>
            <tr class="text-center">
              <th>Id</th>
              <th>Nombre</th>
              <th>Precio Unitario</th>
              <th>Cantidad</th>
              <th>Fecha Creacion</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of listaProductos" class="text-center">
            <tr>
              <td>{{item.id}}</td>
              <td>{{item.nombre}}</td>
              <td>{{item.precio}}</td>
              <td>{{item.cantidad}}</td>
              <td>{{item.fechaCreacion}}</td>
              <td>
                <button (click)="editar(item)" class="btn btn-warning">Editar</button>
                <button (click)="eliminar(item)" class="btn btn-danger">Delete</button>
                <button (click)="crearCarrito(item)" class="btn btn-primary">Agregar al carrito</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
